table {
    padding: 20px;
}

th {    
    width: 25px;
    height: 12px;
    opacity: 0.59;
    font-family: HelveticaNeue;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    text-align: center;
    color: #949494;  
}

td {
    width: 13px;
    height: 25px;
    font-family: HelveticaNeue;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.08;
    letter-spacing: -0.7px;
    text-align: center;
    color: #717171;
}

caption {
    width: 72px;
    height: 19px;
    font-family: HelveticaNeue;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.1px;
    text-align: left;
    color: #e30613;
    margin-bottom: 15px;
    caption-side: top;
    margin-left: 3px;
}

.circle {
    border-radius: 25px;
    width: 30px;
    height: 30px;
}
.circle--empty {   
    background: white;
}
.circle--holiday {
    color: red;
}
.circle--weekend {
    color:lightgrey;
}
.circle--filled {
    color: white;
}
.circle_invisible {
    visibility: hidden;
}
.Month__table-button-empty {
    border: white;
    width: 20px;
    height: 20px;
}
.Month__table-button-filled {
    border: white;
    color:white;
    background: #0087f3;
    width: 25px;
    height: 25px;
}