.month {
    display: inline-block;
    margin-right: calc(100%/64);
    resize: both;
    margin-left: 37px;
}

.MainBlock {
    width: 100%;
}

.year {
    width: 66px;
    height: 32px;
    font-family: HelveticaNeue;
    font-size: 26px;
    font-weight: 300; 
    font-style: normal; 
    font-stretch: normal;
    line-height: normal; 
    letter-spacing: 1.9px; 
    text-align: center; 
    color: #1d2022;
    margin-bottom: 0px;
    margin-top: 10px;
    margin-left: 37px;
}
