.side_bar-th {
    width:28px;
    font-size: 10px;
}
.circle--empty {   
    background-color: #f2f2f2;
    border-radius: 100%;
    height: 28px;
    text-align: center;
}
.circle--filled {
    color: white;
    border-radius: 25px;
    width: 30px;
    height: 30px;
}
.Month__table-button-empty {
    background-color: #f2f2f2;
    border: 0px;
    font-size: 10px;
}
.Month__table-button-filled {
    border: white;
    color:white;
    background: #0087f3;
    width: 25px;
    height: 25px;
}
.Month__button-month-name.ant-btn-clicked {
    background: white;
    border-color: white;
}
.Month__button-month-name.ant-btn:focus{
    background: white;
    border-color:  white;
}
.Month__button-month-name.ant-btn:hover{
    background: white;
    border-color:  white;
}
.Month__button-month-name.ant-btn::after{
    border-color: white;
}